body {
    width: 100vw;
    height: 100vh;
    background-color: #F2F2F2;
}

.alineacion {
    margin: 0;
}

.navSuperior {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 80px;
    margin-right: 15px;
    background-color: #297350;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navSuperior-links a:link,
.navSuperior-links a:visited,
.navSuperior-links a:hover,
.navSuperior-links a:active {
    color: #F2B1A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.navSuperior-links a:hover{
    color: white;
}

.search {
    border-radius: 10px;
    border-width: 3px;
    border-color: #297350;
}

.button {
    width: 80px;
    color: #010B05;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #F2B6A0;
    border-radius: 10px;

}

.button:hover{
    background-color: #F2F2F2;
}

main {
    margin-top: 50px;
}
.menuLeft {
    width: 250px;
    height: auto;
    padding-left: 0px;
}

.categorias{
    color: #F2B1A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-decoration: none;
}

.categorias a:link,
.categorias a:visited,
.categorias a:hover,
.categorias a:active {
    color: whitesmoke;
    background-color: #297350;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.contenido{
    width: 100%;
    height: auto;
    margin-left: 80px;

}

.cardDetalles{
    height: 500px;
    background-color: #F2F2F2;
    margin:10px;
    font-family: 'Hind', sans-serif;
}
.card-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;   
}

.imagen{
    height: 230px;
}