body {
    width: 100vw;
    height: 100vh;
    background-color: #F2F2F2;
}

.alineacion {
    margin: 0;
}

.navSuperior {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 80px;
    background-color: #297350;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.navSuperior-links a:link,
.navSuperior-links a:visited,
.navSuperior-links a:hover,
.navSuperior-links a:active {
    color: #F2B1A2;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
}

.navSuperior-links a:hover{
    color: white;
}

.search {
    border-radius: 10px;
    border-width: 3px;
    border-color: #297350;
}

.button {
    width: 80px;
    color: #010B05;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #F2B6A0;
    border-radius: 10px;

}

.button:hover{
    background-color: #F2F2F2;
}

main {
    margin-top: 50px;
}
.menuLeft {
    width: 250px;
    height: auto;
}

.principal {
    height: auto;
    background-color: #297350;

}